                              * {
                              padding: 0px;
                              margin: 0px;
                              box-sizing: border-box;
                          }
                          /* html{
box-sizing: border-box;
} */
                          
                          body {
                              transition: 0.3s;
                              font-family: "roboto", sans-serif;
                              font-size: 20px;
                              font-style: none;
                              line-height: 1.5;
                              font-weight: 500;
                              overflow: scroll !important;
                              text-align: left;
                              position: relative;
                              opacity: 0.9;
                              /* box-sizing: border-box; */
                              margin: 0;
                              padding: 0px;
                              left: 0;
                          }
                          
                          #wai-header {
                              color: gainsboro;
                              font: 14px;
                              font-family: "roboto", sans-serif;
                              padding: 20px;
                              width: 100%;
                              height: 70px;
                          }
                          
                          #wai-ul {
                              display: flex;
                              list-style-type: none;
                              font-size: 20px;
                              justify-content: flex-end;
                              margin: 0px;
                          }
                          
                          #title {
                              display: flex;
                              list-style-type: none;
                              font-size: 20px;
                              justify-content: flex-end;
                              margin: 20px;
                              margin-right: auto;
                              color: white;
                          }
                          
                          #title a {
                              color: #9e9e9e;
                              text-decoration: none;
                              padding: 20px;
                              display: block;
                          }
                          
                          #title a:hover,
                          .active {
                              text-decoration: underline;
                              color: white;
                          }
                          
                          #wai-navbar {
                              color: white;
                              font: 14px;
                              font-family: "roboto", sans-serif;
                              background-color: black;
                              display: block;
                          }
                          
                          #wai-image {
                              position: absolute;
                              top: 109px;
                              right: 0px;
                          }
                          
                          .nav_link {
                              color: black;
                              font: 18px;
                              font-family: "roboto", sans-serif;
                              padding: 8px 0px;
                              float: right;
                              display: block;
                          }
                          
                          .nav-item {
                              display: flex;
                              list-style-type: none;
                              justify-content: flex-end;
                              margin-left: auto;
                              color: white;
                              font: 20px;
                              font-family: "roboto", sans-serif;
                              margin: 20px;
                          }
                          
                          .nav-item a {
                              color: #9e9e9e;
                              text-decoration: none;
                              padding: 20px;
                              display: block;
                          }
                          
                          .nav-item a:hover {
                              text-decoration: underline;
                              color: white;
                          }
                          
                          .wai-home {
                              /* display: block; */
                              background-color: white;
                              height: 100%;
                              width: 100%;
                              padding-top: 50px;
                              /* padding-right: 80px; */
                              padding-bottom: 50px;
                              /* padding-left: 80px; */
                              margin-top: 20px;
                              /* margin-left: 3px; */
                              /* margin-right: 20px; */
                          }
                          
                          #wai-introduction {
                              /* box-sizing: border-box; */
                              /* width: 100%; */
                              /* height: 100%; */
                              margin-top: 50px;
                              /* padding: 30px; */
                          }
                          
                          .wai-about {
                              /* display: block; */
                              background-color: whitesmoke;
                              /* height: 100%; */
                              /* width: 100%; */
                              padding-top: 50px;
                              /* padding-right: 80px; */
                              padding-bottom: 50px;
                              /* padding-left: 80px; */
                              /* margin-left: 3px; */
                              /* margin-right: 20px; */
                          }
                          
                          .about-li {
                              margin: 30px;
                          }
                          
                          .wai-contact {
                              /* display: block; */
                              background-color: gainsboro;
                              /* height: 100%; */
                              /* width: 100%; */
                              padding-top: 50px;
                              /* padding-right: 80px; */
                              padding-bottom: 50px;
                              /* padding-left: 80px; */
                              /* margin-left: 3px; */
                              /* margin-right: 20px; */
                              ;
                          }
                          
                          input[type=text],
                          select {
                              width: 50%;
                              padding: 12px 20px;
                              margin: 8px 0;
                              display: inline-block;
                              border: 1px solid #ccc;
                              border-radius: 4px;
                              /* box-sizing: border-box; */
                              font-size: 20px;
                          }
                          
                          input[type=email],
                          select {
                              width: 50%;
                              padding: 12px 20px;
                              margin: 8px 0;
                              display: inline-block;
                              border: 1px solid whitesmoke;
                              border-radius: 4px;
                              /* box-sizing: border-box; */
                              font-size: 20px;
                          }
                          
                          button {
                              width: 25%;
                              background-color: whitesmoke;
                              color: rgb(146, 127, 127);
                              padding: 12px 20px;
                              margin: 8px 0;
                              display: inline;
                              border: none;
                              border-radius: 4px;
                              font-size: 20px;
                          }
                          
                          button:hover {
                              background-color: #0bceaf;
                              cursor: pointer;
                          }
                          
                          .submitBtn {
                              border-radius: 5px;
                              padding: 20px;
                          }
                          
                          textarea {
                              width: 50%;
                              background-color: whitesmoke;
                              color: gray;
                              padding: 14px 20px;
                              margin: 8px 0;
                              border: none;
                              border-radius: 4px;
                              cursor: pointer;
                              font-size: 20px;
                          }
                          
                          span {
                              color: #ffffff;
                              font-size: 14px;
                              font-family: "roboto", sans-serif;
                              background: #0bceaf;
                              padding: 20px 30px;
                              margin: 10px;
                              margin-bottom: 50px;
                              border: 1px solid #0bceaf;
                              outline: none;
                              font-weight: bold;
                              letter-spacing: 1px;
                              border-radius: 40px 40px 40px 0px;
                          }
                          
                          section {
                              /* display: block; */
                              background-color: white;
                              /* height: 100%; */
                              /* width: 100%; */
                              /* padding-top: 50px; */
                              /* padding-right: 80px; */
                              /* padding-bottom: 50px; */
                              /* padding-left: 80px; */
                              /* margin: 10px; */
                              /* margin: 20px; */
                              /* padding: 50px, 50px; */
                              padding: 20px;
                              margin: 0 0 20px;
                          }
                          
                          h1 {
                              color: #000000;
                              font: 80px;
                              font-family: "roboto", sans-serif;
                              margin: 50px 0px;
                          }
                          
                          h2 {
                              color: #000000;
                              font: 60px;
                              font-family: "roboto", sans-serif;
                              margin: 30px 0px;
                          }
                          
                          h4 {
                              color: #000000;
                              font: 30px;
                              font-family: "roboto", sans-serif;
                              margin: 0px 0px 30px;
                          }
                          
                          @media only screen and (max-width: 450px) {
                              #wai-ul {
                                  flex-wrap: wrap;
                                  justify-content: center;
                                  padding: 0;
                                  margin-left: 0px;
                                  display: block;
                                  border-bottom: 1px solid grey;
                              }
                              #title {
                                  display: block;
                                  border-bottom: 1px solid grey;
                              }
                              .nav-item {
                                  display: block;
                                  border-bottom: 1px solid grey;
                              }
                          }
                          
                          @media only screen and (max-width: 1060px) {
                              body {
                                  width: 67%;
                              }
                              #wai-ul {
                                  display: block;
                                  border-bottom: 1px solid grey;
                              }
                              #title {
                                  display: block;
                                  border-bottom: 1px solid grey;
                              }
                              .nav-item {
                                  display: block;
                                  border-bottom: 1px solid grey;
                              }
                              /* #secondary { width:30%; margin-left:3%;}   */
                          }
                          
                          @media only screen and (max-width: 768px) {
                              body {
                                  width: 100%;
                              }
                              #wai-ul {
                                  display: block;
                                  border-bottom: 1px solid grey;
                              }
                              #title {
                                  display: block;
                                  border-bottom: 1px solid grey;
                              }
                              .nav-item {
                                  display: block;
                                  border-bottom: 1px solid grey;
                              }
                              /* #secondary { width:100%; margin:0; border:none; } */